version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    ignore:
      # Only accept patch updates to k8s packages, as they are breaking.
      - dependency-name: "k8s.io/*"
        update-types:
          - version-update:semver-minor
          - version-update:semver-major

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
