name: Build and Push Docker Image

on:
  push:
    tags:
      - '*'

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          TAG=${{ github.ref_name }}
          for cmd in $(ls cmd/); do
            if [ -f cmd/$cmd/Makefile ]; then
              make -C cmd/$cmd ROOT=$PWD docker
              BUILT_IMAGE=ghcr.io/${{ github.repository_owner }}/$cmd:latest
              IMAGE=ghcr.io/${{ github.repository_owner }}/$cmd:$TAG

              docker tag $BUILT_IMAGE $IMAGE
              docker push $IMAGE
              docker push $BUILT_IMAGE
            fi
          done
