name: Dependabot auto-merge (minor & patch)

on:
  pull_request:
    types:
      - 'opened'
      - 'synchronize'
      - 'reopened'
      - 'labeled'

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    if: >
      github.actor == 'dependabot[bot]' &&
      (contains(github.event.pull_request.labels.*.name, 'semver:minor') ||
       contains(github.event.pull_request.labels.*.name, 'semver:patch'))
    runs-on: ubuntu-latest

    steps:
      - name: Enable auto-merge
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
